@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 15px;
}

body {
  background-color: #121417;
  font-family: "Overpass", sans-serif;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.attribution {
  color: #e6e6e6;
  font-size: 11px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.attribution__text {
  margin-bottom: 4px;
}

.attribution__text a {
  color: white;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-decoration: none;
}

.attribution__text a:hover {
  color: #d07f15;
}

.grifano-logo {
  display: inline-block;
  border-radius: 2px;
  padding: 4px 4px 2px 4px;
  color: white;
  background-color: #0061cc;
}

.grifano-logo span {
  color: #d07f15;
  background-color: #0061cc;
}

.container {
  margin: auto;
  max-width: 1460px;
  padding: 0 20px;
}

@media (max-width: 955px) {
  .container .container--tablet {
    max-width: 623px;
  }
}

@media (max-width: 425px) {
  .container .container--tablet {
    max-width: none;
  }
}

.show {
  visibility: visible;
  opacity: 100%;
}

section {
  position: relative;
}

.rating {
  padding: 32px;
  max-width: 348px;
  max-height: 352px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);
  border-radius: 30px;
}

.rating__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #252d37;
  margin-bottom: 30px;
}

.rating__icon img {
  max-width: 100%;
  display: block;
}

.rating__paragraph {
  margin-bottom: 24px;
}

.rating form {
  position: relative;
}

.rating form ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.rating input {
  display: none;
}

.rating input:checked ~ label {
  color: white;
  background-color: #fb7413;
}

.rating label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 51px;
  height: 50px;
  font-weight: 700;
  line-height: 1;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-align: center;
  background-color: #252d37;
  border-radius: 50%;
  color: #7c8798;
  padding-top: 1px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.rating label:hover {
  color: white;
  background-color: #7c8798;
}

.rating button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  padding: 12px 24px;
  width: 100%;
  background: #fb7413;
  border-radius: 22.5px;
  color: white;
  text-transform: uppercase;
  outline: none;
  border-style: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.rating button:hover {
  background-color: white;
  color: #fb7413;
}

.succes-msg {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.succes-msg__icon {
  margin-top: 13px;
  margin-bottom: 32px;
}

.succes-msg__result {
  line-height: 32px;
  margin: auto;
  max-width: 193px;
  margin-bottom: 32px;
  height: 32px;
  background: #262e38;
  border-radius: 22.5px;
  color: #fb7413;
}

.succes-msg__paragraph {
  display: inline-block;
  max-width: 340px;
  margin-bottom: 13px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  color: white;
  margin-bottom: 15px;
}

.paragraph {
  font-size: 1rem;
  line-height: 24px;
  color: #959eac;
}

.show {
  visibility: visible !important;
  opacity: 100% !important;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  width: 80%;
  position: absolute;
  top: -70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 4px 8px rgba(124, 135, 152, 0.2);
          box-shadow: 0px 4px 8px rgba(124, 135, 152, 0.2);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tooltip__msg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  padding: 12px 24px;
  background: #7c8798;
  border-radius: 15px;
  text-align: center;
  color: white;
  outline: none;
  border-style: none;
}

.tooltip__msg::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #7c8798 transparent transparent transparent;
}
